@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 16px;
  line-height: 1.6;
  background-color: #1d1f21;
  color: #d6d8da;
}

ul {
  list-style-type: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1d1f21;
  z-index: 100;
  padding: 1rem 0;
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.1);
}

nav {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 32px;
}

nav ul {
  display: flex;
  gap: 1rem;
}

nav ul li a {
  color: #d6d8da;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #005ea8;
}

nav ul li a.active {
  color: #0070c9;
}

#name-logo {
  position: fixed;
  top: .6rem;
  left: 48px;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 101;
  color: #d6d8da;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* Home */

#home {
  display: flex;
  justify-content: start;
  margin-left: 16px;
  background-image: url('assets/Daco_5377683.png');
  background-repeat: no-repeat;
  background-position: center;
}

.home-content {
  width: 100%;
}

.home-line {
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
}

.list {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
}

.list a {
  text-decoration: none;
  color: white;
}

.profile {
  cursor: pointer;
}

.profile:hover {
  color: #005ea8;
}

/* About */
.about-content {
  border-top: 2px solid #005ea8;
  border-bottom: 2px solid #005ea8;
  padding: 80px 0;
}

.about-content h2 {
  margin-bottom: 16px;
}

#about, #project {
  margin: 0 16px;
}

/* Projects */

.project-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-container {
  display: flex;
  position: relative;
  margin: 64px 0;
}

.project-container:nth-child(odd) {
  flex-direction: row-reverse;
}

.project-container:nth-child(even) {
  flex-direction: row;
}

.project-container:nth-child(odd) .skills {
  justify-content: flex-start;
}

.project-container:nth-child(even) .skills {
  justify-content: flex-end;
}

.project-info {
  font-size: 1.5rem;
  position: absolute;
  width: 50%;
  padding: 1rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #d6d8da;
  }
  
  .project-info h2 {
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #005ea8;
  }

  .project-info p, a {
    font-size: 16px;
    margin: 0;
  }

  .github-link a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 12px 0;
  }

  .project-info a:hover {
    color: #005ea8;
  }
  
  .project-container:nth-child(odd) .project-info {
  left: 0;
  }
  
  .project-container:nth-child(even) .project-info {
  text-align: end;
  right: 0;
  }
  
  .project {
  background-color: #3c3f41;
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 16px 0;
  overflow: hidden;
  width: 60%;
  margin-bottom: 32px;
  transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .project-container:nth-child(odd) .project {
  text-align: end;
  }
  
  .project:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
  }
  
  .project img {
  width: 80%;
  position: relative;
  border-radius: 12px;
  padding: 8px;
  margin: 8px;
  z-index: 0;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .skills ul {
    display: flex;
    gap: 1rem;
  }
  
  .skill-icon {
    width: 40px;
    height: auto;
    transition: transform 0.3s, opacity 0.3s;
    filter: grayscale(60%);
    margin: 16px 0;
  }
  
  .skill-icon:hover {
    transform: scale(1.1);
    opacity: 1;
    filter: grayscale(0%);
  }

  /* Contact */

  #contact-btn {
    cursor: pointer;
  }

  #contact-btn:hover {
    color: #005ea8;
  }

  /* Contact Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #1d1f21;
  margin: 15% auto;
  padding: 2rem;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
  position: relative;
}

.modal-content h2 {
  margin-bottom: 16px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 8px;
  right: 16px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #005ea8;
  text-decoration: none;
  cursor: pointer;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

label {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

input,
textarea {
  padding: 0.75rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-family: inherit;
  font-size: 1.2rem;
}

textarea {
  resize: none;
}
  
.contact-form button {
  background-color: #0070c9;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  }

  /* Footer */

  footer {
    background-color: #3c3f41;
    display: flex;
    justify-content: end;
  }

  footer p {
    margin: 16px;
  }

  /* media query */
  @media screen and (max-width: 768px) {
    body {
      font-size: 14px;
    }
  
    header {
      padding: 0.5rem 0;
    }
  
    nav {
      padding: 0 16px;
    }
  
    #name-logo {
      font-size: 1.2rem;
      left: 32px;
    }
  
    section {
      padding: 1rem;
    }
  
    .home-content h1, p {
      margin: 8px 0;
    }
    
    .project {
      background-color: rgba(255, 255, 255, 0);
      box-shadow: none;
    }

    .project:hover {
      box-shadow: none;
      }
    
    .project-container {
      margin: 32px 0;
    }
  
    .project-info {
      font-size: 1.2rem;
      position: static;
      width: 100%;
      margin-bottom: 16px;
      text-align: center;
    }

    .project-container:nth-child(odd) .project-info {
      text-align: center;
      }
      
      .project-container:nth-child(even) .project-info {
        text-align: center;
      }

    .skills ul {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
  
    .project {
      width: 100%;
      margin-bottom: 16px;
    }
  
    .project img {
      width: 100%;
    }
  
    .modal-content {
      width: 90%;
    }
  }

  @media (max-width: 650px) {
    .project-info {
      position: absolute;
      top: 450px;
    }

    .rick-morty {
      top: 500px;
    }
    
    .project-container {
      margin: 120px 0;
    }

    .project img {
      right: 8px;
    }
  }

  @media (max-width: 400px) {
    .project-info {
      position: absolute;
      top: 250px;
    }

    .rick-morty {
      top: 280px;
    }
    
    .project-container {
      margin: 78px 0;
    }

    #name-logo {
      visibility: hidden;
    }

    nav {
      justify-content: center;
    }
  }